{% extends 'base.html' %}
{% block body %}
  <div class="container">
  <br>
  <br>
  <div class="row">
    <a type="button" href="/register" class="btn btn-primary btn-block">Provide Shelter</a>
    <br>
    <br>

  </div>
  <div class="row">
    <a type="button" href="/main" class="btn btn-primary btn-block">Find Shelter</a>
    <br>
    <br>

  </div>
  <div class="row">
    <a type="button" href="/info" class="btn btn-primary btn-block">Find Information</a>
    <br>
    <br>

  </div>
</div>
{% endblock %}