{% extends 'base.html' %}
{% block body %}



<script type="text/javascript">

  var API = "https://shelterx2.firebaseio.com/.json";

  $.getJSON(API, function (json) {

  /*var email=json.data.email;
  var country=json.data.country;
  var description=json.data.description;
  var duration=json.data.duration;
  var name=json.data.name;
  var phone=json.data.phone;
  var city=json.data.city;*/

    /*for(key in json.data)
    {
      var email=json.data[key].email;
      var country=json.data[key].country;
      var description=json.data[key].description;
      var duration=json.data[key].duration;
      var name=json.data[key].name;
      var phone=json.data[key].phone;
      var city=json.data[key].city;*/

      var count=1;
      var select = document.getElementById("mySelect");  
      for(key in json.data)
      {
        if(json.data[key].city!="")
          select.options[select.options.length] = new Option(json.data[key].city,count++);  
      }
      //var selected_City=$("#mySelect :selected").text();


      $('#mySelect').change(function() {
          // make AJAX call to update the second select list
          $.ajax({
            success: function(data){ 
                var selected_City=$("#mySelect :selected").text();
                for(key in json.data)
                {
                  if(json.data[key].city==selected_City)
                  {

                    var list_item=json.data[key];

                    var ul = $('<ul class="list-group"></ul>');

                    ul.append($('<li class="list-group-item" style="font-weight: bold;">'+json.data[key].name+'</li>')).appendTo('#block');
                    //ul.append($('<li class="list-group-item">'+json.data[key].email+'</li>')).appendTo('#block');

                    ul.append($('<form action="email" method="post"><input type="submit" value='+json.data[key].email+' name="email" class="btn btn-primary btn-block"></input></form>')).appendTo('#block');

                    ul.append($('<li class="list-group-item">'+json.data[key].country+'</li>')).appendTo('#block');
                    if(json.data[key].duration!="")
                      ul.append($('<li class="list-group-item">'+json.data[key].duration+'</li>')).appendTo('#block');
                    if(json.data[key].phone!="")
                      ul.append($('<li class="list-group-item">'+json.data[key].phone+'</li>')).appendTo('#block');
                    ul.append($('<li class="list-group-item">'+json.data[key].city+'</li>')).appendTo('#block');
                    if(json.data[key].description!="")
                      ul.append($('<li class="list-group-item">'+json.data[key].description+'</li>')).appendTo('#block');
                    ul.append($('<br>')).appendTo('#block');



                    //$('#block').append($('<ul class="list-group">'));
                    
                    
                    //$('<ul class="list-group">').append($('<li class="list-group-item">'+ json.data[key].description+'</li>')); 
                    //$('<ul class="list-group"></ul>').append(json.data[key].email)
                    //$('<ul class="list-group"></ul>').append(json.data[key].country)
                    //$('<ul class="list-group"></ul>').append(json.data[key].duration)
                    //$('<ul class="list-group"></ul>').append(json.data[key].name)
                    //$('<ul class="list-group"></ul>').append(json.data[key].phone)
                    //$('<ul class="list-group"></ul>').append(json.data[key].city);
                    //$('#block').append($('</ul>'));


                  }
                }
              }
            });
        });




      /*$('.email').html(email);
      $('.country').html(country);   
      $('.description').html(description);
      $('.duration').html(duration);
      $('.name').html(name);
      $('.phone').html(phone);
      $('.city').html(city);*/
   


    //}

    });

  </script>


  <div class="container">

  <div class="col-md-4 col-md-offset-4">
  <br>


  <select  id="mySelect" class="form-control form-control-light">
    <option>Please select your city</option>
  </select>
  <br>
  <div id="block">
  
</div>

</div>
</div>

{% endblock %}